<%= form_with(model: @project, local: true) do |form| %>
  <div class="container mt-5">
    <div class="mb-3">
      <%= form.label :title, 'タイトル', class: 'form-label' %>
      <%= form.text_field :title, class: 'form-control', id: 'exampleFormControlInput1', placeholder: 'タイトル' %>
    </div>
    
    <div class="mb-3">
      <%= form.label :description, '説明・詳細', class: 'form-label' %>
      <%= form.text_area :description, class: 'form-control', id: 'exampleFormControlTextarea1', rows: 5 %>
    </div>
    
    <div class="mb-3">
      <%= form.submit '保存', class: 'btn btn-primary' %>
      <%= link_to '削除', project_path(@project), data: { turbo_method: :delete, turbo_confirm: '削除するとプロジェクト配下のフレームワークも削除されます。
本当に削除しますか？' }, class: "btn btn-danger" %>
      <%= link_to '一覧に戻る', project_path(@project), class: 'btn btn-secondary' %>
    </div>
  </div>
<% end %>
  