<div class="container mt-5">
  <div class="m-3">
    <h1>STP分析詳細</h1>
    <% if @stp_analysis.present? %>
			<div class="mb-3">
				<label class="form-label">セグメンテーション</label>
				<p class="form-control" style="min-height:36px;"><%= @stp_analysis.segmentation%></p>
			</div>

			<div class="mb-3">
				<label class="form-label">ターゲティング</label>
				<p class="form-control" style="min-height:36px;"><%= @stp_analysis.targeting %></p>
			</div>

			<div class="mb-3">
				<label class="form-label">ポジショニング</label>
				<p class="form-control" style="min-height:36px;"><%= @stp_analysis.positioning %></p>
			</div>

			<div class="mb-3">
				<label class="form-label">メモ</label>
				<p class="form-control" style="min-height:36px;"><%= @stp_analysis.memo %></p>
			</div>

			<div class="actions">
				<%= link_to '編集', edit_project_stp_analysis_path(@project, @stp_analysis), class: 'btn btn-secondary' %>
				<%= link_to '削除', project_stp_analysis_path(@project, @stp_analysis), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }, class: "btn btn-danger" %>
				<%= link_to '一覧に戻る', project_path(@project), class: 'btn btn-primary' %>
			</div>
			<% else %>
				<p>3C分析が見つかりません。</p>
			<% end %>
	</div>
</div>