
<div class="container mt-5">
  <div class="m-3">
		<h1>ユーザーページ</h1>

		<p>あなたのプロフィールを編集するには、<%= link_to 'プロフィールを編集', edit_user_registration_path, class: "link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"%> をクリックしてください。</p>

		<%= link_to '新しいプロジェクトを作成', new_project_path, class: "mt-3 btn btn-primary" %>

	</div>
	<% if @projects.any? %>
		<div class="d-flex align-content-around flex-wrap">
			<% @projects.each do |project| %>
				<%= link_to project_path(project), class: "text-decoration-none" do %>
					<div class="card border-dark m-3" style="height:12rem; width: 18rem;">
						<div class="card-header">　</div>
						<div class="card-body">
							<h5 class="card-title"><%= truncate(project.title, length: 15, omission: '...')  %></h5>
							<p class="card-text"><%=  truncate(project.description, length: 50, omission: '...') %></p>
						</div>
					</div>
				<% end %>
			<% end %>
		</div>
	<% else %>
    <p>まだプロジェクトがありません。</p>
  <% end %>
</div>

