<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4 mx-auto">
      <h2 class="mb-4 text-center">新規登録</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "needs-validation", novalidate: true }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="mb-3">
          <%= f.label :name, "名前(ニックネーム)", class: "form-label" %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control", required: true %>
        </div>

        <div class="mb-3">
          <%= f.label :email, "メールアドレス", class: "form-label" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", required: true  %>
        </div>

        <div class="mb-3">
          <%= f.label :password, "パスワード", class: "form-label"%>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control", required: true  %>
        </div>

        <div class="mb-3">
          <%= f.label :password_confirmation, "パスワード（確認用）",class: "form-label" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", required: true %>
        </div>

        <div class="actions">
          <%= f.submit "登録する", class: "btn btn-primary w-100" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>

    </div>
  </div>
</div>