<div class="container mt-5">
  <div class="m-3">
    <h1>3C分析詳細</h1>
    <% if @three_c_analysis.present? %>
			<div class="mb-3">
				<label class="form-label">顧客</label>
				<div class="form-control" style="min-height:36px;"><%= simple_format(@three_c_analysis.customer) %></div>
			</div>

			<div class="mb-3">
				<label class="form-label">自社</label>
				<div class="form-control" style="min-height:36px;"><%= simple_format(@three_c_analysis.company) %></div>
			</div>

			<div class="mb-3">
				<label class="form-label">競合</label>
				<div class="form-control" style="min-height:36px;"><%= simple_format(@three_c_analysis.competitor) %></div>
			</div>

			<div class="mb-3">
				<label class="form-label">メモ</label>
				<div class="form-control" style="min-height:36px;"><%= simple_format(@three_c_analysis.memo) %></div>
			</div>

			<div class="actions">
				<%= link_to '編集', edit_project_three_c_analysis_path(@project, @three_c_analysis), class: 'btn btn-secondary' %>
				<%= link_to '削除', project_three_c_analysis_path(@project, @three_c_analysis), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }, class: "btn btn-danger" %>
				<%= link_to '一覧に戻る', project_path(@project), class: 'btn btn-primary' %>
			</div>
			<% else %>
				<p>3C分析が見つかりません。</p>
			<% end %>
	</div>
</div>