<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4 mx-auto">
      <h2>アカウントロック解除の再送</h2>

      <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email, "メールアドレス",class: "form-label" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mt-3 btn btn btn-light" %>
        </div>

        <div class="actions">
          <%= f.submit "ロック解除メールを再送する", class: "btn btn-primary w-100" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>

    </div>
  </div>
</div>