<div class="container mt-5">
  <div class="mt-3">
    <h2>PEST分析</h2>
    <% if pest_analysis.present? %>
			<div class="row row-cols-1 row-cols-md-2">
				<div class="mb-3 col">
					<label class="form-label">政治的要因</label>
					<div class="form-control" style="min-height:36px;"><%= simple_format(pest_analysis.political_factors) %></div>
				</div>

				<div class="mb-3 col">
					<label class="form-label">経済的要因</label>
					<div class="form-control" style="min-height:36px;"><%= simple_format(pest_analysis.economic_factors) %></div>
				</div>

				<div class="mb-3 col">
					<label class="form-label">社会的要因</label>
					<div class="form-control" style="min-height:36px;"><%= simple_format(pest_analysis.social_factors) %></div>
				</div>

				<div class="mb-3 col">
					<label class="form-label">技術的要因</label>
					<div class="form-control" style="min-height:36px;"><%= simple_format(pest_analysis.technological_factors) %></div>
				</div>
			</div>
			<div class="mb-3">
				<label class="form-label">メモ</label>
				<div class="form-control" style="min-height:36px;"><%= simple_format(pest_analysis.memo) %></div>
			</div>

			<div class="actions">
				<%= link_to '編集', edit_project_pest_analysis_path(@project, pest_analysis), class: 'btn btn-outline-secondary' %>
				<%= link_to '削除', project_pest_analysis_path(@project, pest_analysis), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }, class: "btn btn-outline-danger" %>
			</div>
			<% else %>
				<p>PEST分析が見つかりません。</p>
			<% end %>
	</div>
</div>