<div class="container mt-5">
  <div class="mt-3">
    <h2>STP分析</h2>
    <% if stp_analysis.present? %>
			<div class="mb-3">
				<label class="form-label">セグメンテーション</label>
				<div class="form-control" style="min-height:36px;"><%= simple_format(stp_analysis.segmentation) %></div>
			</div>

			<div class="mb-3">
				<label class="form-label">ターゲティング</label>
				<div class="form-control" style="min-height:36px;"><%= simple_format(stp_analysis.targeting) %></div>
			</div>

			<div class="mb-3">
				<label class="form-label">ポジショニング</label>
				<div class="form-control" style="min-height:36px;"><%= simple_format(stp_analysis.positioning) %></div>
			</div>

			<div class="mb-3">
				<label class="form-label">メモ</label>
				<div class="form-control" style="min-height:36px;"><%= simple_format(stp_analysis.memo) %></div>
			</div>

			<div class="actions">
				<%= link_to '編集', edit_project_stp_analysis_path(@project, stp_analysis), class: 'btn btn-outline-secondary' %>
				<%= link_to '削除', project_stp_analysis_path(@project, stp_analysis), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }, class: "btn btn-outline-danger" %>
			</div>
			<% else %>
				<p>3C分析が見つかりません。</p>
			<% end %>
	</div>
</div>